# === Secrets
secrets/

# === Documents
*.pdf

# === Data
*.csv
*.txt
*.parquet
*.xlsx
*.zip
*.jpeg
*.pyc
notebooks/*
# === Misc.
# PyCharm
.idea/
# VS Code
.vscode/
# Virtual Environment
.venv/
# Jupyter
.ipynb_checkpoints/
# === Cache
__pycache__/
.pytest_cache/
# Other files
quickstart.py
test.R
pancreatitis_meddra_id.yaml
# === Include
!requirements*.txt
!data/manifest/**
!table_1.csv
!table_2.csv
# Mac
.DS_Store
data/manifest/.ipynb_checkpoints/*
*.numbers
