# === Secrets
secrets/

# === Documents
*.pdf

# === Data
*.csv
*.txt
*.parquet
*.xlsx
*.zip
*.jpeg
*.pyc
# === Misc.
# PyCharm
.idea/
# VS Code
.vscode/
# Virtual Environment
.venv/
# Jupyter
.ipynb_checkpoints/
# === Cache
__pycache__/
.pytest_cache/
# Mac
.DS_Store
# Other files
quickstart.py
quickstart1.py
test.R
# === Include
!requirements*.txt
!data/manifest/**
!table_1.csv
!table_2.csv